@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Julius+Sans+One|Noto+Sans+JP|Noto+Serif+JP");

html {
  background: #e9ece9;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 1200px;
  height: 900px;
  margin: 0 auto 0;
  text-align: center;
  overflow: hidden;
  font-family: "Noto Sans JP", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", Verdana, "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
}

a {
  color: #1763aa;
}

a:hover {
  color: #ffffff;
  transition: all 0.2s ease;
}

#navtitle {
}

.navtext {
  font-family: "Julius Sans One", sans-serif;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 0.15em;
  color: #2c3f08;
}

.navtext:hover {
  transition: all 0.2s ease;
  color: #ffffff;
  cursor: pointer;
}

#about {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -311px;
}

#works {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 376px;
  margin-top: -191px;
  transform: rotate(90deg);
}

#contact {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -544px;
  margin-top: 139px;
  transform: rotate(-90deg);
}

#top {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 291px;
  margin-top: 279px;
}

#content-box {
  position: absolute;
  border: solid 1px #2c3f08;
  width: 800px;
  height: 494px;
  top: 203px;
  left: 200px;
}

#default-content {
  font-family: "Libre Baskerville", serif;
  width: 800px;
  height: 494px;
  background-image: url("../imgs/medhicbk.png");
  overflow: hidden;
}

#default-content h3 {
  color: #f0ff17;
  font-size: 160px;
  text-align: left;
  padding-left: 450px;
  padding-top: 100px;
  cursor: default;
}

.content-inside {
  text-align: left;
  width: 720px;
  height: 414px;
  padding: 40px;
}

#about-content {
  display: none;
  color: #252525;
}

#about-content h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 65px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-bottom: 40px;
}

#about-content h2 {
  margin-top: 15px;
  font-family: "Libre Baskerville", serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.3em;
}

.about-paragraph {
  color: #353535;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.13em;
  line-height: 1.8em;
  text-align: justify;
  text-justify: inter-ideograph;
  word-break: normal;
}

.about-paragraph h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 24px;
}
.skills-set {
  margin-top: 10px;
  margin-left: -5px;
  line-height: 2em;
  letter-spacing: 0.13em;
}

.skills-set span {
  margin: 0 20px 0 0;
  padding: 0 5px 0 5px;
  background-color: #edf1b4;
}

#works-content {
  display: none;
}

#works-content h3 {
  color: #353535;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.13em;
}

.gallery {
  display: flex;
  margin-bottom: 15px;
}

.gallery a {
  width: 90px;
  height: 90px;
  background: #ccc;
  overflow: hidden;
  margin-left: 15px;
}

.gallery a:first-child {
  margin-left: 0px;
}

.illusts {
  margin-bottom: 40px;
}

#contact-content {
  display: none;
  font-size: 22px;
  letter-spacing: 0.1em;
  line-height: 2.1em;
  background: none;
}

#contact-content {
  margin-top: 139px;
}

#contact-content p {
  margin-bottom: 40px;
  font-family: "Libre Baskerville", serif;
}
